@import url(null.css);
@import url(icons.css);
@import url(https://fonts.googleapis.com/css?family=Arimo:regular,600);

body {
   font-family: 'Arimo';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   /* identical to box height, or 150% */

   text-align: right;
   background: #FBFCFE;
   color: #353538;
}

.__container {
   max-width: 1116px;
   margin: 0 auto;

   background-color: rgba($color: rgb(255, 200, 200), $alpha: 1.0);
}

//HEADER===================================================================================
.header {
   width: 100%;
   background: #FFFFFF;
   margin-bottom: 24px;

   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px 15px;
      max-width: 1146px;
      width: 100%;
      margin: 0 auto;




      @media (max-width:280px) {
         padding: 10px 5px;
      }
   }
}

.button__join {
   color: #AEAEAF;
   background-color: #fff;
   transition: all 0.7s ease 0s;

   &::after {
      margin-left: 6px;
   }

   &:hover {
      color: #353538;
   }
}

.block__id {
   display: flex;
   flex-direction: column;
   align-items: center;

   .id {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.2px;

      color: #353538;
   }

   ._icon-id:after {
      position: absolute;
      content: "\e901";

      margin-left: 10px;
      top: 1px;
      object-fit: cover;
   }

   .id__join {
      position: relative;

      font-family: 'Arimo';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      /* identical to box height, or 114% */

      text-align: right;
      text-transform: capitalize;

      background-color: #fff;
      transition: all 0.7s ease 0s;

      &:hover {
         color: #353538;
      }

      /* Neutral/500 */

      color: #73738C;
   }
}

//HEADER===================================================================================
//MAIN===================================================================================
.main {
   max-width: 1146px;
   margin: 0 auto;

   display: flex;
   justify-content: space-between;



   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      min-height: 424px;
      padding: 40px;

      margin: 0 auto;

      background: #FFFFFF;
      border-radius: 4px;

      @media (max-width:991px) {
         flex-direction: column;
         padding: 15px;

         .block__edit {
            order: 0;
         }

         .tabs__menu {
            order: 1;
            margin: 25px auto;

            @media (max-width:575px) {
               min-height: 480px;
            }
         }

         .line {
            display: none;
         }
      }

      @media (max-width: 575px) {
         padding: 15px;
      }
   }
}

//LEFT===================================================================================
.tabs__menu {
   position: relative;
   display: flex;
   max-width: 676px;
   width: 100%;
   flex-direction: column;
}

.tabs__menu-buttons {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 32px;
}

.tab__btn {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 16px 24px;

   width: 33%;

   border-radius: 4px;
   transition: all 0.7s ease 0s;
   background: #FBFCFE;

   &.active {
      background: #D0EBF8;
      z-index: 2;
   }

   &:hover {
      background: #D0EBF8;
   }

   font-family: 'Arimo';
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   /* identical to box height, or 114% */

   text-align: center;
   text-transform: capitalize;

   /* Primary/500 (Main) */

   color: #3173CC;


}

.tabs__menu-block {
   position: relative;
   max-width: 676px;
   width: 100%;
   min-height: 216px;
   height: 100%;
}

.block-information {
   position: absolute;
   display: grid;
   width: 100%;
   top: 0px;
   opacity: 0;
   transform: scale(0.9);
   grid-template-columns: 1fr 1fr;
   gap: 24px;
   transition: all 1s ease 0s;

   &.active {
      position: absolute;
      display: grid;
      transform: scale(1);
      opacity: 1;
      top: 0px;
      z-index: 2;
   }

   @media (max-width:575px) {
      grid-template-columns: 1fr;
      gap: 12px;
   }
}

.block__input {
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   padding: 8px 16px;
   gap: 8px;
   margin: 0 auto;
   max-width: 326px;
   width: 100%;
   height: 56px;

   /* Neutral/100 */

   background: #FFFFFF;
   /* Neutral/300 */

   border: 1px solid #D7D7D7;
   border-radius: 8px;

   /* Inside auto layout */

   flex: none;
   order: 0;
   flex-grow: 0;

   &:focus {
      border: #353538 1px solid;
   }

   &::after {
      content: '';
      position: absolute;
      top: 6px;

      font-family: 'Arimo';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
      /* identical to box height, or 100% */
      /* Neutral/500 */
      color: #73738C;
   }

   & input {
      position: relative;
      top: 5px;
      max-width: 294px;
      width: 100%;
      height: 40px;
      text-align: right;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #353538;

      &::placeholder {
         font-weight: 700;
         font-size: 16px;
         line-height: 24px;
         color: #353538;
      }
   }
}

.surname::after {
   content: 'Surname';
}

.name::after {
   content: 'Name';
}

.email::after {
   content: 'Email address';
}

.phone-number::after {
   content: 'Phone number';
}

.id-number::after {
   content: 'ID number';
}

.licence-number::after {
   content: 'Licence number';
}


//LEFT===================================================================================

.line {
   height: 344px;
   width: 1px;
   margin: 0 32px;

   /* Neutral/300 */

   background: #D7D7D7;

}

//RIGHT===================================================================================
.block__edit {
   position: relative;
   max-width: 296px;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;

   @media (max-width:991px) {
      max-width: 676px;
      width: 100%;
   }
}

.btn-edit {
   position: absolute;
   right: 0;
   top: 0;
   font-family: 'Arimo';
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   /* identical to box height, or 114% */

   text-align: right;
   text-transform: capitalize;

   /* Neutral/500 */

   color: #73738C;
   transition: all 0.7s ease 0s;

   &::before {
      margin-right: 6px;
   }

   &:hover {
      color: #353538;
   }

   background-color: #FFFFFF;
}

.block-avatar {
   margin: 0 auto;
   position: relative;
   max-width: 140px;
   width: 100%;
   max-height: 140px;
   height: 100%;
   margin-bottom: 8px;
}

.block-name {
   font-family: 'Arimo';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 32px;
   /* identical to box height, or 133% */

   text-align: center;
   letter-spacing: 0.2px;

   /* Neutral/700(Text Main) */

   color: #353538;
   margin-bottom: 24px;
}

.block-info {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;

   &.date {
      margin-bottom: 12px;
   }

   &.amount {
      margin-bottom: 32px;
   }

   &-number {
      font-family: 'Arimo';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */


      /* Neutral/700(Text Main) */

      color: #353538;
   }

   &-text {
      font-family: 'Arimo';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */

      text-align: right;

      /* Neutral/500 */

      color: #73738C;

      &::after {
         margin-left: 8px;
      }
   }
}




.btn__block-user {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 16px 24px;
   flex-shrink: 0;


   width: 100%;
   height: 48px;

   /* Error/100 */

   background: #FBDBDB;
   border-radius: 4px;

   font-family: 'Arimo';
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   /* identical to box height, or 114% */

   text-align: center;
   text-transform: capitalize;

   /* Error/500(Error Main) */

   color: #E94B4B;
   transition: all 0.5s ease 0s;

   &:hover {
      background: #E94B4B;
      color: #FBDBDB;
   }
}

//RIGHT===================================================================================
//MAIN===================================================================================
//HISTORY===================================================================================

.history {
   max-width: 1146px;
   width: 100%;
   margin: 0 auto;

   &__container {
      padding: 24px 0;
      max-width: 1146px;


      @media (max-width:280px) {
         padding: 10px 5px;
      }
   }

   &-items {
      display: flex;
      justify-content: space-between;
      max-width: 1146px;
      width: 100%;
      padding: 0 15px;

      margin-bottom: 32px;

      &-text {
         font-family: 'Arimo';
         font-style: normal;
         font-weight: 700;
         font-size: 16px;
         line-height: 24px;
         /* identical to box height, or 150% */

         text-align: right;

         /* Neutral/700(Text Main) */

         color: #353538;
      }
   }
}

.btn-settings {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 8px;

   width: 32px;
   height: 32px;

   /* Neutral/200(BG Main) */

   background: #FBFCFE;
   /* Neutral/500 */

   border: 1px solid #73738C;
   border-radius: 4px;

   color: #73738C;
   transition: all 0.7s ease 0s;

   &:hover {
      color: #353538;
      background: #bfbfc8;
   }
}

//==========================================================================================

.history__block {
   padding: 0 24px;
   margin-left: 2px;
   max-width: 1136px;
   width: 100%;
   height: 212px;
   /* Neutral/100 */

   background: #ffffff;
   border-radius: 4px;

   overflow-y: scroll;
   overflow-x: hidden;

   @media (max-width:1145px) {
      overflow-x: auto;
   }

   transform:scaleX(-1);

   ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      margin: 2px;
      background: rgba($color: rgb(255, 200, 200), $alpha: 0);

      &-thumb {
         background: #D7D7D7;
         border-radius: 2px;
      }
   }
}

.history__block-information {
   display: flex;
   flex-direction: column;
   gap: 16px;
   scroll-snap-type: y mandatory;
   width: 1068px;
   height: 208px;

   transform: scaleX(-1);

   &-date {
      display: flex;
      justify-content: space-between;
      flex-shrink: 0;
      width: 1068px;
      min-height: 96px;
      align-items: center;
      gap: 8px;
   }

   &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px;
      align-self: stretch;
      flex-shrink: 1;
      scroll-snap-align: start;

      max-width: 1004px;
      width: 100%;
      min-height: 96px;
      background: #FFFFFF;
      /* Neutral/300 */

      border: 1px solid #D7D7D7;
      border-radius: 8px;
   }

   &-order {
      width: 56px;
      height: 44px;
      flex-shrink: 0;
      font-family: 'Arimo';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 12px;
      /* identical to box height, or 100% */

      text-align: center;

      /* Neutral/500 */

      color: #73738C;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      margin-right: 6px;

      .order-circle {
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 50%;
         background: #EDAE46;
         width: 24px;
         height: 24px;

         &.green {
            background: #8CE252;
         }

         &-little {
            border-radius: 50%;
            background: #ffffff;
            width: 12px;
            height: 12px;
         }
      }
   }
}

.history__data {
   display: flex;
   justify-content: space-evenly;
   flex: 1 1 auto;
   align-items: center;
   gap: 30px;
   white-space: nowrap;

   font-family: 'Arimo';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   /* or 150% */

   text-align: right;

   /* Neutral/700(Text Main) */

   color: #353538;

   &-items {
      width: 261px;
      justify-content: end;
   }

   &>* {
      position: relative;
      display: flex;
      align-items: center;

      height: 48px;
   }

   &>*:not(:last-child)::after {
      content: '';
      position: absolute;

      right: -14px;
      background: #D7D7D7;
      width: 1px;
      height: 64px;
   }

   &>*::before {
      content: '';
      position: absolute;
      top: -12px;
      right: 0;


      font-family: 'Arimo';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 12px;
      /* identical to box height, or 100% */

      text-align: right;

      /* Neutral/500 */

      color: #73738C;
   }

   &-first-cost::before {
      content: 'Cost';
   }

   &-first-date::before {
      content: 'Date & time';
   }

   &-items::before {
      content: 'Items';
   }

   &-delivery::before {
      content: 'Delivery or pickup';
   }

   &-payment::before {
      content: 'Payment method';
   }
}

//==========================================================================================
.btn-view {
   font-family: 'Arimo';
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   /* identical to box height, or 114% */

   text-align: right;
   text-transform: capitalize;

   /* Primary/500 (Main) */

   color: #3173CC;
   background: #FFFFFF;
   transition: all 0.7s ease 0s;
   margin-right: 12px;

   &::after {
      margin-left: 4px;
   }

   &:hover {
      color: #353538;
   }
}

//HISTORY===================================================================================
::-webkit-scrollbar {
   width: 4px;
   height: 4px;
   background: rgba($color: rgb(255, 200, 200), $alpha: 0);

   &-thumb {
      background: #D7D7D7;
      border-radius: 2px;
   }
}